<html>
<head>
	<style type="text/css">
		#fieldset_learning_lists { display: inline; }
		fieldset.disabled { color: gray; }
		fieldset fieldset { border: none }
	</style>
	<script type="text/javascript">
		function onTwitterAccountButtonClicked(button)
		{
			window.location.href = "{{twitter_auth}}";
		}
		function setElementVisibility( element, visible )
		{
			element.style.display = visible ? "inline" : "none";
		}
		function onLearnRadioClicked(radio)
		{
			namebox = document.getElementById("guru_name");
			setElementVisibility( namebox, radio.value == "oneuser" );

			listselect = document.getElementById("list_select");
			if( listselect )
				setElementVisibility( listselect, radio.value == "list" );			
		}
		function onAlwaysTweetClicked(checkbox)
		{
			fieldset = document.getElementById("fieldset_speakonnew");
			setElementVisibility( fieldset, !checkbox.checked );
		}
	</script>
</head>
<body>
	{% if saved %}
		<h1>Saved</h1>
	{% endif %}
	<form method="POST" action="{{form_action}}">
		<fieldset id="fieldset_account">
			<legend>Twitter account</legend>
        		{{ twitter_username }}
        		<input type="button" value="Update Twitter account >" onclick="onTwitterAccountButtonClicked(this);" />
		</fieldset>
		<fieldset id="fieldset_learning">
			<legend>Absorption rate</legend>
			<input type="radio" name="learnfrom" value="oneuser" onclick="onLearnRadioClicked(this);" {{learnfrom_oneuser_checked}}/>
			Learn from one user
			<input id="guru_name" {% if not learnfrom_oneuser_checked %} style="display:none"{% endif %} type="text" name="guru_name" maxlength="20" value="{{guru_name}}"/>
			<input type="radio" name="learnfrom" value="following" onclick="onLearnRadioClicked(this);" {{learnfrom_following_checked}}/>
			Learn from everyone I follow
			<fieldset {% if not lists %}class="disabled"{% endif %} id="fieldset_learning_lists">
				<input type="radio" name="learnfrom" value="list" onclick="onLearnRadioClicked(this);" {{learnfrom_list_checked}} {% if not lists %}disabled{% endif %}/>
				Learn from a list
				{% if lists %}
					<select id="list_select" name="list_select" {% if not learnfrom_list_checked %}style="display:none"{% endif %} >
						{% for list in lists %}
							<option value="{{list.id}}">{{list.name}}</option>
						{% endfor %}
					</select>
				{% endif %}
			</fieldset>
			<input type="radio" name="learnfrom" value="followers" onclick="onLearnRadioClicked(this);" {{learnfrom_followers_checked}}/>
			Learn from my followers
			<input type="checkbox" name="learn_retrospectively" value="true" {{learn_retrospectively_checked}}/>
			Learn retrospectively
		</fieldset>
		<fieldset id="fieldset_locquacity">
			<legend>Locquacity</legend>
			Wake up every <input type="text" name="tweet_frequency" size="5" value="{{tweet_frequency}}"/> hours with a <input type="text" name="tweet_chance" size="3" value="{{tweet_chance}}" /> chance of tweeting
			<br/>
			<input onclick="onAlwaysTweetClicked(this);" type="checkbox" name="locquacity_onschedule" value="true" {{locquacity_onschedule_checked}}/>
			Always tweet
			<fieldset id="fieldset_speakonnew" {% if locquacity_onschedule_checked %} style="display:none"{% else %} style="display:inline" {% endif %} >
				<input type="checkbox" name="locquacity_speakonnew" value="true" {{locquacity_speakonnew_checked}}/>
				Speak when I've learned something new
			</fieldset>
			<input type="checkbox" name="locquacity_reply" value="true" {{locquacity_reply_checked}}/>
			Reply to @mentions and direct messages
			<input type="checkbox" name="locquacity_greetnew" value="true" {{locquacity_greetnew_checked}}/>
			Greet new followers
		</fieldset>
		<input type="submit" value="Save" />
	</form>
</body>
</html>